body {
    background-image: url("garden.jpg");
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #2C1A09;
    height: 100vh;
}

.container {
    background: #F9F6F2;
    max-width: 80%;
    margin: auto;
    border: 5px inset #9DAB86;
    border-radius: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 3px solid #BE8C63;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #9DAB86;
}

#save-btn {
    background: #38470B;
}

#save-el {
    font-weight: bold;
}
